/*Style.css*/

body{
   margin:0;
   width:100%;
   font-family: Bookman Old Style,Arial,sans-serif;
   display: block;
   background: #fff;
}


.box{
   width:40%;
   margin:50px auto;
   background: #eee;
   border:solid 1px black;
   border-radius: 20px;
   padding: 20px;
   box-shadow: 0 0 50px #aaa;
}

label{
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   
}

fieldset{
   padding:20px;
   border-radius: 20px;
}


.heading{
   text-align: center;
   font-size: 25px;
   color:blue;
   font-weight: 700;
   
}

.avatar-image{
   margin:0 140px;
}

.default-input{
   box-sizing: border-box;
   padding:10px;
   border-radius: 10px;
   font-size: 14px;
   display: block;
   margin:10px 0;
   width:100%;
   
}


.default-label{
   font-size: 16px;
   font-weight: 500;
   color:blue;
}

.default-buttons{
   background:blue;
   color:#fff;
   border:solid 1px #000;
   text-decoration: none;
   font-size: 15px;
   padding:10px;
   border-radius: 10px;
   
}

fieldset{
   margin:40px;
}

